<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<context:component-scan base-package="dubbboserviceimpl" />
	<dubbo:application name="dubbo_provider"></dubbo:application>
	<!--使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry address="10.2.17.65:2182,10.2.17.65:2183" protocol="zookeeper"></dubbo:registry>
	<dubbo:service interface="dubboservice.TestService" ref="testService" timeout="6000"/>
	<dubbo:service interface="dubboservice.UserService" ref="userServiceImpl" timeout="6000"/>
	<dubbo:service interface="dubboservice.TestZooClusterService" ref="testZooClusterServiceImpl" timeout="6000"/>
	
	<!--要暴露的服务接口 -->
	<dubbo:protocol name="dubbo" port="8093"/>
</beans>